<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{person.name}} {{person.surname}}
      </mat-panel-title>
      <mat-panel-description>
        {{formatSqlDate(person.birthday)}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    {{person.birthplace}}
    {{person.birthplaceIt}}
    {{person.location}}<br>

    {{person.tel}}
    {{person.mail}}<br>

    {{person.address}}
    {{person.plz}}
    {{person.place}}<br>

    <div *ngIf="person.idcard">
      {{person.idcard.nr}}
      {{person.idcard.country}}
      {{person.idcard.type}}
    </div>


  </mat-expansion-panel>