<div *ngIf="!loggedin;else logoutTemplate">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput name="username" placeholder="Username" [(ngModel)]="formuser" required>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input name="password" type="password" matInput placeholder="Passwort" [(ngModel)]="formpass" required>
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </form>
  
</div>

<ng-template #logoutTemplate>
  <button type="submit" mat-raised-button color="primary" (click)="logout()">Logout</button>
</ng-template>
