<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step label="Übernachtungsdetails">
        <h2>Übernachtungsdetails</h2>
        <form>

            <mat-form-field>
                <mat-label>Ankunft</mat-label>
                <input matInput [(ngModel)]="an" name="an" [matDatepicker]="dpAn">
                <mat-datepicker-toggle matSuffix [for]="dpAn"></mat-datepicker-toggle>
                <mat-datepicker #dpAn></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Abfahrt</mat-label>
                <input matInput [(ngModel)]="ab" name="ab" [matDatepicker]="dpAb">
                <mat-datepicker-toggle matSuffix [for]="dpAb"></mat-datepicker-toggle>
                <mat-datepicker #dpAb></mat-datepicker>
            </mat-form-field>     

            <mat-form-field>
                <mat-label>Übernachtungsart</mat-label>
                <mat-select [(ngModel)]="alloggiato" name="alloggiato">
                    <mat-option value="OSPITE SINGOLO">Ospite singolo</mat-option>
                    <mat-option value="CAPO FAMIGLIA">Capo famigila</mat-option>
                    <mat-option value="CAPO GRUPPO">Capo gruppo</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-chip-list">
                <mat-chip-list #zimmerChips aria-label="Zimmer auswählen">
                  <mat-chip *ngFor="let z of zimmer" [selectable]="true"
                           [removable]="true" (removed)="remove(z)">
                    {{z}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <!-- [matChipInputSeparatorKeyCodes]="[13]" // 13 is the code for ENTER (blocks it) -->
                  <input placeholder="Zimmer hinzufügen..."
                         [matChipInputFor]="zimmerChips"
                         [matChipInputSeparatorKeyCodes]="[13]"
                         [matChipInputAddOnBlur]="true"
                         (matChipInputTokenEnd)="add($event)"   >
                </mat-chip-list>
              </mat-form-field>
              
            <div>
                <button mat-raised-button color="primary" matStepperNext>Weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step  label="Person mit Ausweis eintragen" required>
        <h2>Person mit Ausweis eintragen</h2>
        <!-- <form> -->

            <table>
                <tr>
                    <td>

                        <h3>Personendetails</h3>

                        <mat-form-field>
                            <mat-label>Vorname</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-form-field>
                            <mat-label>Nachname</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-radio-group label="Select an option">
                            <mat-radio-button value="m">Männlich</mat-radio-button>
                            <mat-radio-button value="f">Weiblich</mat-radio-button>
                        </mat-radio-group>           
            
                        <mat-form-field>
                            <mat-label>Geburtstag</mat-label>
                            <input matInput [matDatepicker]="geb">
                            <mat-datepicker-toggle matSuffix [for]="geb"></mat-datepicker-toggle>
                            <mat-datepicker #geb></mat-datepicker>
                        </mat-form-field>  
            
                        <mat-form-field *ngIf="!ggem">
                            <mat-label>Geburtsort</mat-label>
                            <input [(ngModel)]="gort" name="gort" matInput>
                        </mat-form-field>
            
                        <mat-form-field *ngIf="!gort">
                            <mat-label>Geburtgemeinde</mat-label>
                            <input [(ngModel)]="ggem" name="ggem" matInput>
                        </mat-form-field>          

                    </td>
                    <td>

                        <h3>Weitere Daten</h3>

                        <mat-form-field>
                            <mat-label>Wohnland</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-form-field>
                            <mat-label>Telefon</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-form-field>
                            <mat-label>Mail</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-form-field>
                            <mat-label>Adresse</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-form-field>
                            <mat-label>PLZ</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-form-field>
                            <mat-label>Wohnort</mat-label>
                            <input matInput required>
                        </mat-form-field>  

                    </td>
                    <td>

                        <h3>Ausweisdetails</h3>

                        <mat-form-field>
                            <mat-label>Ausweisnummer</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-form-field>
                            <mat-label>Austellungsland</mat-label>
                            <input matInput required>
                        </mat-form-field>
            
                        <mat-form-field>
                            <mat-label>Ausweistyp</mat-label>
                            <input matInput required>
                        </mat-form-field>

                    </td>
                </tr>
            </table>

            <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-raised-button color="primary" matStepperNext>Weiter</button>
            </div>
        <!-- </form> -->
    </mat-step>
    <mat-step  label="Personen eintragen" optional>
        <h2>Personen eintragen</h2>
        <form>
            <h3>Liste zeigt alle schon erstellten Personen TODO</h3>

            <button mat-raised-button color="primary" matStepperNext>Person Hinzufügen TODO</button>

            <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-raised-button color="primary" matStepperNext>Weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Fertig">
        <h2>Fertig</h2>

        <p>Hier nochmal alle Daten, Zeiten und Kunden TODO</p>

        <div>
            <button mat-button matStepperPrevious>Zurück</button>
            <button mat-raised-button color="primary" (click)="sendPost()">Bestätigen</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
  