<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step label="Übernachtungsdetails">
        <form>

            <mat-form-field>
                <mat-label>Ankunft</mat-label>
                <input matInput [(ngModel)]="an" name="an" [matDatepicker]="dpAn">
                <mat-datepicker-toggle matSuffix [for]="dpAn"></mat-datepicker-toggle>
                <mat-datepicker #dpAn></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Abfahrt</mat-label>
                <input matInput [(ngModel)]="ab" name="ab" [matDatepicker]="dpAb">
                <mat-datepicker-toggle matSuffix [for]="dpAb"></mat-datepicker-toggle>
                <mat-datepicker #dpAb></mat-datepicker>
            </mat-form-field>     

            <mat-form-field>
                <mat-label>Übernachtungsart</mat-label>
                <mat-select [(ngModel)]="alloggiato" name="alloggiato">
                    <mat-option value="OSPITE SINGOLO">Ospite singolo</mat-option>
                    <mat-option value="CAPO FAMIGLIA">Capo famigila</mat-option>
                    <mat-option value="CAPO GRUPPO">Capo gruppo</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-chip-list">
                <mat-chip-list #zimmerChips aria-label="Zimmer auswählen">
                  <mat-chip *ngFor="let z of zimmer" [selectable]="true"
                           [removable]="true" (removed)="remove(z)">
                    {{z}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <!-- [matChipInputSeparatorKeyCodes]="[13]" // 13 is the code for ENTER (blocks it) -->
                  <input placeholder="Zimmer hinzufügen..."
                         [matChipInputFor]="zimmerChips"
                         [matChipInputSeparatorKeyCodes]="[13]"
                         [matChipInputAddOnBlur]="true"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
              

            <div>
                <button mat-raised-button color="primary" matStepperNext>Weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step  label="Person mit Ausweis eintragen" required>
        <form>

            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput >
            </mat-form-field>

            <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-raised-button color="primary" matStepperNext>Weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step  label="Personen eintragen" optional>
        <form>

            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="Ex. 1 Main St, New York, NY">
            </mat-form-field>

            <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-raised-button color="primary" matStepperNext>Weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step label="Fertig">

        <p>Hier nochmal alle Daten, Zeiten und Kunden</p>

        <div>
            <button mat-button matStepperPrevious>Zurück</button>
            <button mat-raised-button color="primary" (click)="sendPost()">Bestätigen</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
  